/* General */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mg-top{
  margin-top: 10px;
}

/* Container */
.container{
  width: 1140px;
  margin: 0 auto;
}

/* Nav left */
.nav-left{
  float: left;
}
.nav-left img.logo{
  max-width: 100px;
}
.nav-left ul li{
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #a0a6ad;
  transition: color .4s;
}
.nav-left ul li:hover{
  color: #000;
  cursor: pointer;
}

/* Nav Right */
.nav-right{
  float: right;
}
.nav-right ul li{
  list-style: none;
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  color: #a0a6ad;
  transition: color .4s;
}
.nav-right ul li a{
  margin-left: 20px;
  text-decoration: none;
  color: #a0a6ad;
}
.nav-right ul li a:hover{
  color: #000;
  cursor: pointer;
}
.nav-right ul select{
  color: #a0a6ad;
  margin-left: 20px;
  transition: color .4s;
  outline: none;
  border: none;
}
.nav-right ul select:hover{
  color: #000;
  cursor: pointer;
}
.nav-right ul button{
  background: #ec008b;
  color: #fff;
  line-height: 2;
  padding: 8px 18px;
  border-radius: 20px;
  border: 0;
  margin-left: 20px;
}
.nav-right ul button:hover{
  transform: scale(1.1);
  transition: 1s;
}

/* Dropdown */
.nav-right li .dropdown{
  position: relative;
}
.box{
  color: #a0a6ad;
}
.nav-right li .dropdown-1{
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 20px;
  width: 200px;
  margin-top: 20px;
  filter: drop-shadow(0 0 5px);
}
.nav-right li .dropdown-1 .box{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.dropdown-1 a {
  text-decoration: none;
}

/* Label */
.relative{
  position: relative;
}
.label{
  color: #ec008b;
  position: absolute;
  top: -10px;
  font-size: 12px;
}
